body {
    background-color: #f1eff1;
    margin: 0;
    padding: 0;
    background-image:url(https://i.ibb.co/ScbW2z8/1288100.jpg);
    background-repeat:repeat-x;
}

header {
    text-align: center;
    color: aliceblue;
}

#messages{
    padding-bottom: 30%;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
    background-color: #e5e1ec6c;
    padding: 5px;
    border-radius: 50px;
    color: rgb(26, 24, 24);
    width: 50%;
}

li span {
    font-style: blod;
    font-weight: bolder;
    color: #e73872;
}

#chat {
    width: 80%;
    margin: auto;
}

#message-form {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b7b5b9;
}

input {
    width: 70%;
    height: 30px;
}

button {
    width: 25%;
    height: 38px;
    background-color: #38dbe7;
}

.sent {
    text-align: right;
    background-color: #d6d0db;
    margin-left: 50%;
}

.sent span {
    margin-left: 5px;
    color: #6231aa;
}
